.todo-list-template {
    width: 500px;
    height: 600px;
    background: #a5f3ce;
}

.todo-list-title {
    padding: 5px 0;
    font-size: 25px;
    font-weight: 300;
    border-radius: 5px  5px 0 0;
    color: white;
    background: #127cb9;
}

.todo-list-insert>input {
    padding-left: 5px;
    width: 90%;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 17px;
}
.todo-list-insert>button {
    width: 10%;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 17px;
    color: white;
    border: 2px solid #9b4cdb;
    background: #9b4cdb;
}