
.star-box {
    margin: 0 auto;
    width: 100%;
    height: 40px;
    padding: 10px;
    font-size: 30px;
    background-color: adjust-hue($color: #7bdfe2, $degrees: 0);
}

.logo-box {
    margin: 0 auto;
    width: 100%;
    height: 300px;
    padding: 10px;
    font-size: 15px;
    background-color: adjust-hue($color: #d5eb77, $degrees: 0);
}
