//
// 미디어 쿼리 MIXIN
// --------------------------------------------------
 
// Break Point (Desktop First 기준 내림차순 설정)
$desktop-l-width	: 1440px;
$tablet-l-width		: 1024px;
$tablet-s-width		: 768px;
$mob-l-width		: 640px;
$mob-m-width		: 425px;
$mob-s-width		: 375px;

// only PC
@mixin pc-only {
	@media screen and (min-width: #{$tablet-l-width + 1}) {
		@content;
	}
}
// PC large
@mixin pc-large {
	@media screen and (min-width: #{$desktop-l-width + 1}) {
		@content;
	}
}
 
// --------------------------------------------------
 
// 태블릿
@mixin tab {
	@media screen and (max-width: #{$tablet-l-width}) {
		@content;
	}
}
// 모바일
@mixin mob {
	@media screen and (max-width: #{$tablet-s-width}) {
		@content;
	}
}
// 모바일 large
@mixin mob-large {
	@media screen and (max-width: #{$mob-l-width}) {
		@content;
	}
}
// 모바일 mid
@mixin mob-mid {
	@media screen and (max-width: #{$mob-m-width}) {
		@content;
	}
}
// 모바일 small
@mixin mob-small {
	@media screen and (max-width: #{$mob-s-width}) {
		@content;
	}
}

@include pc-only{
    body {
        font-size: 15px;
    }
    .app-box {
        margin: 0 auto;
        width:630px;
        height: 500px;
    }
    .star-box {
        width: 500px;
    }
    .logo-box {
        width: 500px;
    }
}

@include tab{
    body {
        font-size: 10px;
    }
    .app-box {
        margin: 0 auto;
        width:100%;
        height: 500px;
    }
}

.title {
    text-align: center;
    padding: 2rem;
    font-size: 1.5em;
    font-weight: 100;
    color: #333;
}