// 가로 메뉴 설정
.header-box ul {
    text-align: center;
}
.header-box ul li {
    display: inline;
    border-left: 1px solid #999;
    font-size: 12px;
    padding: 0 10px;
}
.header-box ul li a {
    text-decoration:none; color:#000000;
}
.header-box ul li a:hover {
    color:#ff0000;
}
.header-box ul li:first-child {
    border-left: none;
}

.second_nav {
    text-align: center;
}
.second_nav ul li {
    display: inline;
    border-left: 1px solid #999;
    font-size: 12px;
    padding: 0 10px;
}
.second_nav  ul li a {
    text-decoration:none; color:#000000;
}
.second_nav  ul li a:hover {
    color:#aaf0d1;
}
.second_nav ul li:nth-child( 7n+1 ) {
    border-left: none;
}



// 세로 메뉴 설정
.left-side {
    text-align: center;
}
.left-side ul {
    text-align: left;
}
.left-side ul li {
    font-size: 15px;
    padding: 0;
    list-style:none;
}
.left-side ul li p {
    margin: 0;
}
.left-side ul li a {
    text-decoration:none; 
    color:#000000;
}
.left-side ul li a:hover {
    color:#aaf0d1;
}

